@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    border-radius: 10rem;
    width: 50%;
    height: 50%;
}

.circle-bg {
    width: 150px;
    height: 150px;
    background-color: #2e2e3e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxexample {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}


.bg-nav {
    background: #030D15;
}

.test{
    height: 130px;
    width: 130px;
}

.licolor{
    color: #636B73;
}

.hoverE {
    transition: color 0.3s ease; /* Add a 0.3-second delay to the color change */
}

.hoverE:hover {
    color: white;
    cursor: pointer;
}

.hoverE1 {
    transition: color 0.3s ease; /* Add a 0.3-second delay to the color change */
}

.hoverE1:hover {
    /*border: 1px solid #ffffff; !* Border color and style (solid) *!*/
    /*border-radius: 4rem;*/
    color: white;
}

.bg-color {
    background: #030D15;
    width: 30%;
    height: 100%; /* This will be 100% of the parent container's height */
}

